.basket
  - if has_order? && current_order.has_items?
    %p.quantity <b>#{pluralize current_order.total_items, 'item'}</b> in your shopping bag
    %p.amount <b>#{number_to_currency current_order.total_before_tax}</b> (ex. tax &amp; delivery)
    %p.buttons
      = link_to "View my bag", basket_path
      = link_to "Checkout", checkout_path, :class => 'checkout'

  - else
    %p.empty <b>Your shopping bag is empty.</b> 
    %p.empty How dare it be?! Why not add some stuff to it?
