%ul.reasons
  %li.support
    %h4 Free technical support
    %p We'll help you get your phone working. Just call or e-mail us.
  %li.quality
    %h4 Quality assurance
    %p We check all the produts we ship so you can rely on us.
  %li.delivery
    %h4 Next day delivery
    %p Order before 4pm and your order will be with you the next business day.