<%= content_for :sidebar do %>
  <div class="checkout">
    <dl>
      <dt>Are my card details safe?</dt>
      <dd>Yes! This site is hosted using industry-standard encryption & we don't store your card details on our servers.</dd>
      <dt>How long will my order take to arrive?</dt>
      <dd>This will depend on what delivery method you select opposite. If ordered before 4pm, all orders are despatched the same day.</dd>
      <dt>What payment methods do you accept?</dt>
      <dd>We accept Visa, Mastercard & American Express credit/debit cards.</dd>
    </dl>
  </div>
<% end %>
