= content_for :sidebar do
  .checkout
    %dl
      %dt Are my card details safe?
      %dd Yes! This site is hosted using industry-standard encryption & we don't store your card details on our servers.
      %dt How long will my order take to arrive?
      %dd This will depend on what delivery method you select opposite. If ordered before 4pm, all orders are despatched the same day.
      %dt What payment methods do you accept?
      %dd We accept Visa, Mastercard & American Express credit/debit cards.
