- @page_title = 'Checkout'
= render 'checkout_sidebar'
.checkout
  %h2 Let's do this thing!
  %p.intro
    Brilliant! We have everything we need to place the order. Check the items below carefully,
    and if you're happy click 'Place Order' to submit the order.
  = render 'shared/order_items', :order => current_order, :readonly => true
  = form_tag checkout_confirmation_path, :method => :patch, :class => 'disableable' do
    %p.submit= submit_tag "Place Order", :class => 'order'
