- active_nav_item :catalogue
- @page_title = 'Catalogue'
.categories
  %ul
    - for category in @product_categories
      %li
        %div.img{:style => category.image ? "background-image:url(#{category.image.path})" : 'background-color:#efefef'}
        .space
          %h4= link_to category.name, products_path(category.permalink)
          %p= category.description
      