<% active_nav_item :catalogue %>
<% @page_title = @product_category.name %>
<div class="category">
  <h2>
    <%= @product_category.name %>
  </h2>
  <% unless @product_category.description.blank? %>
    <p class="intro">
      <%= @product_category.description %>
    </p>
  <% end %>
  <% if @products.empty? %>
    <p class="noProducts">There are no products in this category</p>
  <% else %>
    <%= render 'shared/product_list', :products => @products %>
  <% end %>
</div>
